@model library_management.Models.Library

@{
    Layout = "/Views/Shared/_mainLayout.cshtml";
    ViewData["Title"] = "Admin Details";
}
<div class="page-wrapper">
    <div class="content">
      

        <div class="row">
            <div class="col-lg-8 col-sm-12 mx-auto">
                <div class="card shadow-sm border rounded">
                    <div class="card-body">
                        <h5 class="card-title text-primary"><i class="bi bi-building"></i> Library Information</h5>
                        <hr />

                        <div class="text-center mb-3">
                            <img src="@Model.LibraryImagePath" alt="Library Image" class="img-fluid rounded-circle border border-black" style="width: 120px; height: 120px; border-width: 3px;">
                            <h4 class="mt-2 text-uppercase">@Model.Libraryname</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong><i class="bi bi-card-list"></i> Library Name:</strong> @Model.Libraryname</li>
                                    <li class="list-group-item"><strong><i class="bi bi-person-badge"></i> Admin ID:</strong> @Model.AdminId</li>
                                    <li class="list-group-item"><strong><i class="bi bi-calendar-event"></i> Created At:</strong> @Model.CreatedAt</li>
                                    <li class="list-group-item"><strong><i class="bi bi-geo-alt"></i> Pincode:</strong> @Model.Pincode</li>
                                    <li class="list-group-item"><strong><i class="bi bi-house-door"></i> Address:</strong> @Model.Address</li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong><i class="bi bi-globe"></i> State:</strong> @Model.State</li>
                                    <li class="list-group-item"><strong><i class="bi bi-building"></i> City:</strong> @Model.City</li>
                                    <li class="list-group-item"><strong><i class="bi bi-clock"></i> Starting Time:</strong> @Model.StartTime</li>
                                    <li class="list-group-item"><strong><i class="bi bi-clock"></i> Closing Time:</strong> @Model.ClosingTime</li>
                                </ul>
                            </div>
                        </div>

                        <div class="text-center mt-3">
                            @* <input hidden readonly id="Id" value="@Model.LibraryId" /> *@
                            @* @if (Model.VerificationStatus == "Pending") *@
                            @* { *@
                            @*     <button type="submit" class="btn btn-success me-2" id="btnAccept"> *@
                            @*         <i class="bi bi-check-circle"></i> Accept *@
                            @*     </button> *@
                            @*     <button type="submit" class="btn btn-danger" id="btnReject"> *@
                            @*         <i class="bi bi-x-circle"></i> Reject *@
                            @*     </button> *@
                            @* } *@
                            @* else if (Model.VerificationStatus == "Rejected") *@
                            @* { *@
                            @*     <h6 class="badge bg-danger p-2">@Model.VerificationStatus</h6> *@
                            @*     <button type="submit" class="btn btn-success" id="btnAccept"> *@
                            @*         <i class="bi bi-arrow-repeat"></i> Accept Application? *@
                            @*     </button> *@
                            @* } *@
                            @* else *@
                            @* { *@
                            @*     <h6 class="badge bg-success p-2">@Model.VerificationStatus</h6> *@
                            @*     <button type="submit" class="btn btn-danger" id="btnReject"> *@
                            @*         <i class="bi bi-x-circle"></i> Remove Approval? *@
                            @*     </button> *@
                            @* } *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* <script src="~/libraryjs/memberstatus.js"></script> *@
}
